*

/* Home section content */
#home {
  height: 100vh;
  display: flex;
  justify-content: flex-end; /* Align content to the bottom */
  align-items: center;
  color: white;
  padding-bottom: 100px; /* Add some padding to push content up */
  position: relative;
  text-align: center;

}

#home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(64, 64, 64);
  z-index: 1; /* Ensure the content is above the SVG */
}


.title {
  text-align: center;
  font-weight: bold;
  color: rgb(97, 97, 97);
  display: flex;
  padding: 0% 0%;
  justify-content: center;
}

#about {
  padding: 20% 0%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#about .content {
  text-align: center;
  color: #333;
  max-width: 400px;
}

#about .content h2 {
  color: rgb(50, 50, 50);
  margin-bottom: 20px; /* Add some space between title and description */
}


/* Projects section */
#projects {
  display: grid;
  grid-template-columns: 1fr; /* Single column */
  grid-gap: 50px;
  padding: 100px 0;
  text-align: center;
  align-items: center;
  margin-bottom: 0;
}

.project {
  position: relative;
  width: 100vw; /* Ensures each project takes full width */
  height: 100vh;
}

.project img {
  width: 100%;
  height: 90%;
  object-fit: cover; /* Crop the image */
}

/* Contact section */
#contact {
  background-color: #f4f4f4;
  padding: 3% 0;
  text-align: center;
}

.links a {
  color: #686868;
  text-decoration: none;
  margin: 0 10px;
}

.links a:hover {
  color: #000;
}

/* SVG animation */
#animated-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure the SVG is behind the content */
}

.icon {
  font-size: 30px; /* Adjust the font size as needed */
}

body {
  font-family: "M PLUS Code Latin", monospace;
  /* Other styles */
}

/* Additional styles for specific elements if needed */
h1, h2, h3, h4 {
  font-family: "M PLUS Code Latin", monospace;
}

h5 {
  font-size: 10px;
  font-family: "M PLUS Code Latin", monospace;
}

.scroll-indicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  width: 20px;
  height: 20px;
  background-image: url('caret-down.svg'); /* Replace 'caret-down.png' with the path to your caret image */
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  animation: bounce 0.5s infinite alternate; /* Bounce animation */
  position: relative; /* Ensure it's positioned relative to its parent */
  z-index: 0; /* Set a lower z-index to ensure it's behind the footer */
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-15px);
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255); /* Transparent background color */
  padding: 10px 0;
  text-align: center;
  z-index: 1000; /* Ensure the navbar appears above other content */
  font-family: "M PLUS Code Latin", monospace;
}

.navbar a {
  color: #797979; /* Dark grey text color */
  text-decoration: none;
  margin: 10px 20px;
  position: relative; /* Position relative for the line effect */
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust the distance from the text */
  left: 0;
  width: 100%;
  height: 2px; /* Thickness of the line */
  background-color: #f69c2d; /* Color of the line */
  transform: scaleX(0); /* Initially hide the line */
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.navbar a:hover::after {
  transform: scaleX(1); /* Show the line on hover */
}

.icons {
  display: inline-block;
  margin-left: auto; /* Align icons to the right */
}

.icons a {
  color: #686868;
  text-decoration: none;
  margin-left: 20px;
}

.icons a:hover {
  color: #000;
}

.publication-link:hover {
  color: navy; /* Change color on hover */
}

.centered-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .tech-stack p {
    white-space: normal; /* Allow text to wrap */
    word-break: break-word; /* Break long words if necessary */
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10000; /* Ensure the content is above the SVG */
}


/* Role styling */
.timeline {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  justify-content: center;
  text-align: center;
  max-width: 100vw;
}

.role {
  text-align: center; /* Center content vertically */
  justify-content: center;
  color: #a5a5a5; /* Dark grey text color */
  font-family: "M PLUS Code Latin", monospace;
}

.description {
  display: grid; /* Initially hide the description */
  opacity: 0.3; /* Set initial opacity to 0 */
  transition: opacity 0.8s ease; /* Add transition effect */
  text-align: center;
  margin-top: 20px;
  text-align: left;
  padding: 10%;
  justify-content: center;
  max-width: 320px;
}

.role:hover {
  color: #545454;
}

.role:hover .description {
  display: grid; /* Show the description on hover */
  opacity: 0.8; /* Fade in the description */
  transition: transform 0.3s ease;
}


.footer {
  background-color:#f4f4f4;
  padding: 15px 15px;
  font-family: "M PLUS Code Latin", monospace;
  color:#666;
  font-size: small;
  z-index: 1000;
  opacity: none;
  position: sticky;
}

.photo-container {
  padding: 20px; /* Add padding around the circular image */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
}

.photo {
  width: 200px; /* Set the width of the container */
  height: 200px; /* Set the height of the container */
  border-radius: 50%; /* Make the border radius 50% to create a circle */
  overflow: hidden; /* Hide any content that overflows the circular border */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin: 0 auto; /* Center the container horizontally */
}

.photo img {
  width: 100%; /* Ensure the image fills the circular container */
  height: auto; /* Allow the height to adjust automatically */
  display: block; /* Remove any extra space around the image */
}

.embeddedAppMetaInfoBar_hostedName__-kdmi {
  visibility: hidden;
}
